<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Две сестры</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <link rel="shortcut icon" href="../static/img/logo.png" type="image/x-icon">
</head>


<body>
<header>
    <br>
	<h1><center>w h i f f .</center></h1>
<div class="menu">
          <a href="../private_office/<user>">account</a>
          <a href="../#mapp">map</a>
          <a href="../#hud">fav.museum</a>
          <a href="../#kar">fav.paintings</a>
          <a href="../">home</a></div>
</div>
</header>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="kartina"><img src="../static/img/spb/ss.jpg"></div>
<br><br><br>
<hr>
<br><br><br>

<div style='margin-left:150px; margin-right:150px;'>
<font size="1px" face='Courier' color="#666"><h1>Пабло Пикассо</h1></font>
<font size="3px" face='Century gothic'><h1>Две сестры</h1></font>
<font size="4px" face='Century gothic'>Пикассо написал картину в лазурных и темно-синих тонах в период своего
    творчества, который называют «голубым». Традиционно холодные цвета служат для изображения чувств смирения и
    искупления, которые не чужды христианским мотивам.
    Одна из сестер передает своего ребенка второй, которая заберет его в монастырь. Идея для картины родилась у
    Пикассо в больнице для женщин «легкого поведения». Получился по-настоящему библейский сюжет: раскаивающаяся
    грешница и мудрая принимающая монахиня.
</font>
</div>

<br><br><br><br><br><br>



</body>
</html>