<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Дама в голубом</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <link rel="shortcut icon" href="../static/img/logo.png" type="image/x-icon">
</head>


<body>
<header>
    <br>
	<h1><center>w h i f f .</center></h1>
<div class="menu">
          <a href="../private_office/<user>">account</a>
          <a href="../#mapp">map</a>
          <a href="../#hud">fav.museum</a>
          <a href="../#kar">fav.paintings</a>
          <a href="../">home</a></div>
</div>
</header>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="kartina"><img src="../static/img/spb/dm.jpg"></div>
<br><br><br>
<hr>
<br><br><br>

<div style='margin-left:150px; margin-right:150px;'>
<font size="1px" face='Courier' color="#666"><h1>Томас Гейнсборo</h1></font>
<font size="3px" face='Century gothic'><h1>Дама в голубом</h1></font>
<font size="4px" face='Century gothic'>Эпоха барокко нашла свое отражение в образе «дамы в голубом» на полотне
    Томаса Гейнсборо. Эта картина написана в мягких полутонах, подчеркнуты грация и тонкое изящество деталей.
Принято считать, что это портрет Елизаветы Бофорт, дочери адмирала Боскауэна.
В Эрмитаже картина с 1912 г. и является единственной из произведений художника в России.</font>
</div>


<br><br><br><br><br><br>


</body>
</html>