<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Лютнист</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <link rel="shortcut icon" href="../static/img/logo.png" type="image/x-icon">
</head>


<body>
<header>
    <br>
	<h1><center>w h i f f .</center></h1>
<div class="menu">
          <a href="../private_office/<user>">account</a>
          <a href="../#mapp">map</a>
          <a href="../#hud">fav.museum</a>
          <a href="../#kar">fav.paintings</a>
          <a href="../">home</a></div>
</div>
</header>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="kartina"><img src="../static/img/spb/kar.jpg"></div>
<br><br><br>
<hr>
<br><br><br>

<div style='margin-left:150px; margin-right:150px;'>
<font size="1px" face='Courier' color="#666"><h1>Караваджо</h1></font>
<font size="3px" face='Century gothic'><h1>Лютнист</h1></font>
<font size="4px" face='Century gothic'>Молодой Караваджо заметил, что картины с такими юношами пользуются успехом у
    некоторых представителей католической церкви. Поэтому он охотно их писал.
Но вскоре он отказался от подобных сюжетов. Все чаще изображал трагичные библейские истории. Поцелуй Иуды. Успение
    Марии. Положение во гроб.
Караваджо часто называли натуралистом. За его необычную проработку деталей. Подпорченные фрукты. Трещины на лютне.
    Потертые ноты.
В «Лютнисте» Караваджо впервые использует своё знаменитое тенебросо. Когда фигуры и предметы выхватываются тусклым
    лучом из кромешной темноты.
Так проявляется почти осязаемый объём. А эмоции персонажа приобретают драматический оттенок. Такой театральный
    эффект станет очень популярным в эпоху Барокко.</font>
</div>


<br><br><br><br><br><br>


</body>
</html>