<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Государственный Эрмитаж</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <link rel="shortcut icon" href="../static/img/logo.png" type="image/x-icon">
</head>


<body>
<header>
    <br>
	<h1><center>w h i f f .</center></h1>
<div class="menu">
          <a href="../private_office/<user>">account</a>
          <a href="../#mapp">map</a>
          <a href="../#hud">fav.museum</a>
          <a href="../#kar">fav.paintings</a>
          <a href="../">home</a></div>
</div>
</header>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="musey"><img src="../static/img/erm.jpg"></div>
<br><br><br>
<hr>
<br><br><br>

<div style='margin-left:150px; margin-right:150px;'>
<font size="1px" face='Courier' color="#666"><h1>г.Санкт-Петербург, Дворцовая набережная, 34</h1></font>
<font size="3px" face='Century gothic'><h1>Государственный Эрмитаж</h1></font>
<font size="4px" face='Century gothic'>Более 250 лет назад Екатерина II в Малом Эрмитаже пожелала иметь уголок
    для уединения. Годом создания музея считается 1764 г., когда разорившийся немецкий купец был вынужден погасить
    свой долг. Не имея наличных средств, он расплатился коллекцией из 225 полотен знаменитых художников. Эти картины
    украсили стены Малого Эрмитажа. До 1852 года, когда экспозиции были открыты для широкой публики, посмотреть на
    произведения искусств могли только «сливки» аристократического общества. Сегодня коллекция Эрмитажа включает
    в себя более 3 млн. экспонатов, которые представлены полотнами, скульптурами, предметами декоративно-прикладного
    искусства и другими памятниками культуры. Некоторых из них относятся к каменному веку.</font>
</div>
<br><br><br><br><br><br><br><br><br>


<a href="/e1"><img src="../static/img/spb/ss.jpg" width="20%"></a>
<a href="/e2"><img src="../static/img/spb/kmp.jpg" width="20%"></a>
<a href="/e3"><img src="../static/img/spb/dm.jpg" width="20%"></a>
<a href="/e4"><img src="../static/img/spb/kar.jpg" width="20%"></a>


</body>
</html>