<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name_of_painting }}</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <link rel="shortcut icon" href="../static/img/logo.png" type="image/x-icon">
</head>


<body>
<header>
    <br>
	<h1><center>w h i f f .</center></h1>
	  <div class="menu">
          <a href="/private_office/<user>">account</a>
          <a href="#mapp">map</a>
          <a href="#hud">fav.museums</a>
          <a href="#kar">fav.paintings</a>
          <a href="/">home</a></div>
</div>
</header>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="kartina"><img src="../static/img/prim1.jpg"></div>
<br>
<div class="like"><button>❤</button><font size="4px">{число лайков}</font></div>
<br><br>
<hr>
<br><br><br>

<div style='margin-left:150px; margin-right:150px;'>
<font size="1px" face='Courier' color="#666"><h1>{{ author }}</h1></font>
<font size="3px" face='Century gothic'><h1>{{ name_of_paint }}</h1></font>
<font size="4px" face='Century gothic'>{{ opisanie }}</font>
</div>





</body>
</html>