<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Девятый вал.</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <link rel="shortcut icon" href="../static/img/logo.png" type="image/x-icon">
</head>


<body>
<header>
    <br>
	<h1><center>w h i f f .</center></h1>
<div class="menu">
          <a href="../private_office/<user>">account</a>
          <a href="../#mapp">map</a>
          <a href="../#hud">fav.museum</a>
          <a href="../#kar">fav.paintings</a>
          <a href="../">home</a></div>
</div>
</header>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="kartina"><img src="../static/img/r/val.jpg"></div>
<br><br><br>
<hr>
<br><br><br>

<div style='margin-left:150px; margin-right:150px;'>
<font size="1px" face='Courier' color="#666"><h1>Иван Константинович Айвазовский </h1></font>
<font size="3px" face='Century gothic'><h1>Девятый вал.</h1></font>
<font size="4px" face='Century gothic'>Это самая известная картина Айвазовского. Которую знают даже люди, далёкие
    от искусства. Чем же она так прославилась? Людей всегда завораживает борьба человека со стихией. Желательно со
    счастливым финалом. Вот этого в картине хоть отбавляй. Остросюжетней некуда. Шестеро выживших отчаянно цепляются за
    мачту. Рядом накатывает большая волна, девятый вал. За ней следом идёт ещё одна. Людям предстоит долгая и страшная
    борьба за жизнь. Но уже рассвет. Пробивающееся сквозь рваные тучи солнце – это надежда на спасение
    Стихия Айвазовского, так же, как и у Брюллова, потрясающе красива. Конечно, морякам не сладко. Но мы не можем не
    любоваться прозрачными волнами, солнечными бликами и сиреневым небом.
Поэтому эта картина производит такой же эффект, что и предыдущий шедевр. Красота и драма в одном флаконе.</font>
</div>

<br><br><br>



</body>
</html>