<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Лунная ночь на Днепре</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <link rel="shortcut icon" href="../static/img/logo.png" type="image/x-icon">
</head>


<body>
<header>
    <br>
	<h1><center>w h i f f .</center></h1>
<div class="menu">
          <a href="../private_office/<user>">account</a>
          <a href="../#mapp">map</a>
          <a href="../#hud">fav.museum</a>
          <a href="../#kar">fav.paintings</a>
          <a href="../">home</a></div>
</div>
</header>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="kartina"><img src="../static/img/r/lun.jpg"></div>
<br><br><br>
<hr>
<br><br><br>

<div style='margin-left:150px; margin-right:150px;'>
<font size="1px" face='Courier' color="#666"><h1>Архип Иванович Куинджи</h1></font>
<font size="3px" face='Century gothic'><h1>Лунная ночь на Днепре</h1></font>
<font size="4px" face='Century gothic'>“Лунная ночь на Днепре” – самая известная работа Куинджи. И не удивительно.
    Сам художник очень эффектно познакомил ее с публикой.
Он организовал персональную выставку. В выставочном зале было темно. Лишь одна лампа была направлена на единственную
    картину выставки, “Лунную ночь на Днепре”.
Люди заворожённо смотрели на картину. Яркий зеленоватый свет луны и лунной дорожки гипнотизировал. Видны очертания
    украинской деревушки. Лишь часть стен, освещённых луной, выступает из темноты. Силуэт мельницы на фоне
    освещённой реки.
Эффект реалистичности и фантастичности одномоментно. Как же художник добился таких “спецэффектов”?
Помимо мастерства здесь ещё Менделеев руку приложил. Он помогал Куинджи создать состав краски, особенно мерцающей в
    полумраке.
Казалось бы, удивительное качество у художника. Уметь самому распиарить свою же работу. Но он поступил неожиданно.
    Почти сразу после этой выставки Куинджи 20 лет провёл затворником. Он продолжал писать, но свои картины никому не показывал.
Картина ещё до выставки была куплена великим князем Константином Константиновичем (внуком Николая I). Он так был
    привязан к картине, что взял ее в кругосветное путешествие. Соленый влажный воздух способствовал потемнению полотна.
    Увы, того гипнотического эффекта уже не вернуть.</font>
</div>

<br><br><br><br><br><br>



</body>
</html>