<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Последний день Помпеи</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <link rel="shortcut icon" href="../static/img/logo.png" type="image/x-icon">
</head>


<body>
<header>
    <br>
	<h1><center>w h i f f .</center></h1>
<div class="menu">
          <a href="../private_office/<user>">account</a>
          <a href="../#mapp">map</a>
          <a href="../#hud">fav.museum</a>
          <a href="../#kar">fav.paintings</a>
          <a href="../">home</a></div>
</div>
</header>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="kartina"><img src="../static/img/r/pomp.jpg"></div>
<br><br><br>
<hr>
<br><br><br>

<div style='margin-left:150px; margin-right:150px;'>
<font size="1px" face='Courier' color="#666"><h1>Брюллов Карл Павлович</h1></font>
<font size="3px" face='Century gothic'><h1>Последний день Помпеи</h1></font>
<font size="4px" face='Century gothic'>4 года подготовки. Ещё 1 год непрерывной работы красками и кистями. Несколько
    обмороков в мастерской. И вот результат – 30 квадратных метров, на которых изображены последние минуты жизни жителей
    Помпеи (в 19 веке название города было женского рода).
Для Брюллова все было не зря. Думаю, в мире не было такого художника, чья картина, всего лишь одна картина произвела
    бы такой фурор.
Люди толпами врывались на выставку, чтобы посмотреть шедевр. Брюллова буквально носили на руках. Его окрестили ожившим
    Тицианом. А Николай I удостоил художника личной аудиенции.
Что же так поразило современников Брюллова? Да и сейчас не оставит зрителя равнодушным.
Мы видим очень трагичный момент. Через несколько минут все эти люди погибнут. Но нас это не отталкивает. Потому что нас
    завораживает … Красота.
Красота людей. Красота разрушения. Красота катастрофы.
Посмотрите, насколько все гармонично. Красное расскаленное небо прекрасно сочетается с красным одеянием девушек справа
    и слева. А как эффектно падают под ударом молнии две статуи. Я уж не говорю про атлетичную фигуру мужчины на
    вздыбленном коне.
Картина с одной стороны о реальной катастрофе. Позы людей Брюллов срисовывал с погибших в Помпеях. Улица тоже настоящая,
    ее до сих пор можно увидеть в очищенном от пепла городе.
Но красота персонажей делает произошедшее похожим на древний миф. Как будто красивые боги прогневались на красивых людей.
    И нам не так печально.</font>
</div>


<br><br><br><br><br><br>


</body>
</html>