<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Музей Современного Изобразительного Искусства на Дмитровской (МСИИД)</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <link rel="shortcut icon" href="../static/img/logo.png" type="image/x-icon">
</head>


<body>
<header>
    <br>
	<h1><center>w h i f f .</center></h1>
<div class="menu">
          <a href="../private_office/<user>">account</a>
          <a href="../#mapp">map</a>
          <a href="../#hud">fav.museum</a>
          <a href="../#kar">fav.paintings</a>
          <a href="../">home</a></div>
</div>
</header>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="musey"><img src="../static/img/rs.jfif"></div>
<br><br><br>
<hr>
<br><br><br>

<div style='margin-left:150px; margin-right:150px;'>
<font size="1px" face='Courier' color="#666"><h1>г.Ростов-на-Дону, ул. Шаумяна, 51</h1></font>
<font size="3px" face='Century gothic'><h1>Музей Современного Изобразительного Искусства на Дмитровской (МСИИД)</h1></font>
<font size="4px" face='Century gothic'>МСИИД строит свою работу на основных принципах музееведческой практики:
    коллекционирование, хранение и экспонирование. Свою историческую и культурную миссию музей видит в формировании и
    пропаганде коллекции, как мастеров прошлого ХХ века, так и художников наступившего ХХI. Фонды музея насчитывают
    более 1800 произведений, преимущественно живописи и графики c 1930 года по сегодняшний день.</font>
</div>

<br><br><br><br><br><br><br><br><br>
<a href="/r1"><img src="../static/img/r/bur.jpg" width="20%"></a>
<a href="/r2"><img src="../static/img/r/val.jpg" width="20%"></a>
<a href="/r3"><img src="../static/img/r/lun.jpg" width="20%"></a>
<a href="/r4"><img src="../static/img/r/pomp.jpg" width="20%"></a>

<br><br><br><br><br><br>
</body>
</html>