<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Буря. Дождь</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <link rel="shortcut icon" href="../static/img/logo.png" type="image/x-icon">
</head>


<body>
<header>
    <br>
	<h1><center>w h i f f .</center></h1>
<div class="menu">
          <a href="../private_office/<user>">account</a>
          <a href="../#mapp">map</a>
          <a href="../#hud">fav.museum</a>
          <a href="../#kar">fav.paintings</a>
          <a href="../">home</a></div>
</div>
</header>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="kartina"><img src="../static/img/s/bur.jpeg"></div>
<br><br><br>
<hr>
<br><br><br>

<div style='margin-left:150px; margin-right:150px;'>
<font size="1px" face='Courier' color="#666"><h1>Исаак Ильич Левитан</h1></font>
<font size="3px" face='Century gothic'><h1>Буря. Дождь</h1></font>
<font size="4px" face='Century gothic'>Картину “Буря. Дождь” Левитан писал будучи смертельно больным. Это его последняя
    крупная работа. Врачи не скрывали от него, что его болезнь сердца смертельна. Поэтому несомненно его душевное
    состояние проявилось на этой картине. Силы леса на исходе. От него остались лишь пни и поленицы дров. Да несколько
    тоненьких берёзок. Им крайне тяжело устоять в буре. Ведь они оголены. Более крепкие соседи срублены. Без их защиты
    им не устоять. Смирения со смертью здесь нет. Наоборот, она воспринимается как всеразрушающая стихия. С которой
    нет сил бороться.Тонкие березки часто появляются на картинах Левитана. Скорее всего, они отражают его
    собственный склад характера. Ранимый, застенчивый и непрактичный человек. Очень талантливый, но мало
    приспособленный к жизни.</font>
</div>

<br><br><br><br>



</body>
</html>