<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Замок Пьерфон</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <link rel="shortcut icon" href="../static/img/logo.png" type="image/x-icon">
</head>


<body>
<header>
    <br>
	<h1><center>w h i f f .</center></h1>
<div class="menu">
          <a href="../private_office/<user>">account</a>
          <a href="../#mapp">map</a>
          <a href="../#hud">fav.museum</a>
          <a href="../#kar">fav.paintings</a>
          <a href="../">home</a></div>
</div>
</header>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="kartina"><img src="../static/img/s/zam.jpeg"></div>
<br><br><br>
<hr>
<br><br><br>

<div style='margin-left:150px; margin-right:150px;'>
<font size="1px" face='Courier' color="#666"><h1>Камиль Коро</h1></font>
<font size="3px" face='Century gothic'><h1>Замок Пьерфон</h1></font>
<font size="4px" face='Century gothic'>Работы знаменитого французского живописца 19 века Коро также редко встретишь в
    русских музеях. Но в Радищевский музей картина попала не случайно. Боголюбов искренне восхищался художником и по
    возможности приобретал его работы.Работы Коро ни с чем не спутаешь. Они являются классикой барбизонской школы.
    Барбизонцы были предшественниками импрессионистов. Они первыми начали работать на открытом воздухе. Предпочитали
    писать пейзажи и сельскую жизнь. Все это импрессионисты у них и позаимствуют. Однако барбизонцы в отличие от
    импрессионистов предпочитали сдержанные тона. Вернее они пользовались несколькими тонами одного цвета. В результате
    работа получалась чуть ли не монохромной. Такова и картина “Замок Пьерфон”. Импрессионисты, в том числе Клод Моне
    и Ренуар будут тяготеть куда к более ярким краскам.Коро изобразил раннее утро. Очертания замка только-только
    проступили из темноты. Невероятным образом художник передал свет зарождающегося дня. На переднем плане – два
    стражника. Это добавляет в пейзаж сказочности и таинственности. Ведь Коро – художник-поэт. А его
    работы называют “пейзажами настроения”.</font>
</div>


<br><br><br><br><br><br>


</body>
</html>