<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Корабль у берега</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <link rel="shortcut icon" href="../static/img/logo.png" type="image/x-icon">
</head>


<body>
<header>
    <br>
	<h1><center>w h i f f .</center></h1>
<div class="menu">
          <a href="../private_office/<user>">account</a>
          <a href="../#mapp">map</a>
          <a href="../#hud">fav.museum</a>
          <a href="../#kar">fav.paintings</a>
          <a href="../">home</a></div>
</div>
</header>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="kartina"><img src="../static/img/s/kor.jpeg"></div>
<br><br><br>
<hr>
<br><br><br>

<div style='margin-left:150px; margin-right:150px;'>
<font size="1px" face='Courier' color="#666"><h1>Иван Константинович Айвазовский</h1></font>
<font size="3px" face='Century gothic'><h1>Корабль у берега</h1></font>
<font size="4px" face='Century gothic'>“Корабль у берега” – классическая работа Айвазовского. Он любил писать морскую
    разбушевавшуюся стихию. На картине как раз изображен начинающийся шторм. Корабль накренило. Паруса крепко надуты.
    Море бежевого цвета от поднятого со дна песка. Поразительно, что Айвазовский писал картину на одном дыхании, пока
    не высохнет краска. За один день. Иногда за полдня. Невероятное мастерство. Не удивительно, что Айвазовский оставил
    поистине огромное художественное наследие. Более 6000 работ. Три из них и хранятся в Радищевском музее. Вам не
    кажется, что на таком расстоянии от берега корабль слишком мелкий? Либо он должен быть больше. Либо находиться
    дальше. Уверена, что Айвазовский осознанно сделал корабль такого размера. Немного пренебрегая реалистичностью.
    Чтобы подчеркнуть превосходство природной стихии над кораблем.</font>
</div>

<br><br><br>



</body>
</html>