<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Портрет Нади Репиной</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <link rel="shortcut icon" href="../static/img/logo.png" type="image/x-icon">
</head>


<body>
<header>
    <br>
	<h1><center>w h i f f .</center></h1>
<div class="menu">
          <a href="../private_office/<user>">account</a>
          <a href="../#mapp">map</a>
          <a href="../#hud">fav.museum</a>
          <a href="../#kar">fav.paintings</a>
          <a href="../">home</a></div>
</div>
</header>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="kartina"><img src="../static/img/s/nad.jpeg"></div>
<br><br><br>
<hr>
<br><br><br>

<div style='margin-left:150px; margin-right:150px;'>
<font size="1px" face='Courier' color="#666"><h1>Репин Илья Ефимович</h1></font>
<font size="3px" face='Century gothic'><h1>Портрет Нади Репиной</h1></font>
<font size="4px" face='Century gothic'>Портрет Нади Репиной или “Девочка в розовом” – визитная карточка Радищевского
    музея. Это шедевр, известный многим. И понятно почему. Она очень жизненна и естественна. Девочка только проснулась.
    Но ещё пребывает во власти сновидений. Её взгляд отрешён. Руки опущены. Картина написана в импресионистской манере.
    Широкими мазками. В виде выхваченного “кадра” из повседневной жизни. Репин не был импрессионистом. И даже осуждал
    их за пренебрежение деталями. Но видимо для такого сюжета только импрессионизм и подходил. Чтобы подчеркнуть
    сиюминутность происходящего. Хотя на самом деле Репин работал над картиной долго. Его дочери пришлось не раз
    попозировать. Не в самой удобной позе. Боголюбов в Париже всячески поддерживал молодых русских художников. В том
    числе молодого Репина. Поэтому не удивительно, что тот выбрал Боголюбова крестным отцом Нади. А потом и подарил
    портрет шестилетней девочки. Так картина вместе с остальной коллекцией Боголюбова и попала в Радищевский музей.</font>
</div>

<br><br><br><br><br><br>



</body>
</html>