<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Саратовский государственный художественный музей им. А.Н. Радищева</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <link rel="shortcut icon" href="../static/img/logo.png" type="image/x-icon">
</head>


<body>
<header>
    <br>
	<h1><center>w h i f f .</center></h1>
<div class="menu">
          <a href="../private_office/<user>">account</a>
          <a href="../#mapp">map</a>
          <a href="../#hud">fav.museum</a>
          <a href="../#kar">fav.paintings</a>
          <a href="../">home</a></div>
</div>
</header>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="musey"><img src="../static/img/sr.jpg"></div>

<hr>
<br><br><br>

<div style='margin-left:150px; margin-right:150px;'>
<font size="1px" face='Courier' color="#666"><h1>г.Саратов, ул. имени А.Н. Радищева, 39</h1></font>
<font size="3px" face='Century gothic'><h1>Саратовский государственный художественный музей им. А.Н. Радищева</h1></font>
<font size="4px" face='Century gothic'>Cаратовский государственный художественный музей имени А.Н. Радищева принадлежит
    к числу самых крупных и старейших в стране. Основанный в 1885 году, он на протяжении долгих лет являлся одним из
    немногих общедоступных художественных собраний в дореволюционной России.</font>
</div>


<br><br><br><br><br><br><br><br><br>
<a href="/s1"><img src="../static/img/s/bur.jpeg" width="20%"></a>
<a href="/s2"><img src="../static/img/s/zam.jpeg" width="20%"></a>
<a href="/s3"><img src="../static/img/s/kor.jpeg" width="20%"></a>
<a href="/s4"><img src="../static/img/s/nad.jpeg" width="20%"></a>

</body>
</html>