<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Аленушка</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <link rel="shortcut icon" href="../static/img/logo.png" type="image/x-icon">
</head>


<body>
<header>
    <br>
	<h1><center>w h i f f .</center></h1>
<div class="menu">
          <a href="../private_office/<user>">account</a>
          <a href="../#mapp">map</a>
          <a href="../#hud">fav.museum</a>
          <a href="../#kar">fav.paintings</a>
          <a href="../">home</a></div>
</div>
</header>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="kartina"><img src="../static/img/msk/alen.jpg"></div>
<br><br><br>
<hr>
<br><br><br>

<div style='margin-left:150px; margin-right:150px;'>
<font size="1px" face='Courier' color="#666"><h1>Васнецов Виктор Михайлович</h1></font>
<font size="3px" face='Century gothic'><h1>Аленушка</h1></font>
<font size="4px" face='Century gothic'>Отказавшись от конкретного сюжета и событийности, Васнецов сумел выразить в
    картине душу русской сказки, родственную неяркой среднерусской природе. В образе Аленушки, написанной с крестьянской
    девочки, передано страдание кроткой, одинокой, всеми отвергнутой сиротки, которую можно встретить во многих сказках.
    Она бесконечно долго сидит на белом камне, как будто сама окаменела от страданий, в ее глазах застыло немое
    отчаяние. Взгляд девочки притягивает к себе подобно омуту. Темная глубина воды, в которой проступает призрачное
    отражение, неумолимо манит Аленушку. Фигурка девочки словно сотворена из природных форм, гаснущих вечерних красок и
    узоров листвы и концентрирует в себе сосредоточенную грусть осенней природы, заботливо скрывающую и охраняющую
    героиню. Природа утешает ее, как мать утешает свое дитя. Пейзажные мотивы навеяны поэтическими фольклорными
    образами, например ласточки, что собрались на веточке над головой Аленушки – добрые вестницы, помощницы в беде, а
    трепещущие осины – символ горькой доли</font>
</div>

<br><br><br><br><br><br><br><br>




</body>
</html>