<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Аполлон, Гиацинт и Кипарис, занимающиеся музыкой и пением</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <link rel="shortcut icon" href="../static/img/logo.png" type="image/x-icon">
</head>


<body>
<header>
    <br>
	<h1><center>w h i f f .</center></h1>
<div class="menu">
          <a href="../private_office/<user>">account</a>
          <a href="../#mapp">map</a>
          <a href="../#hud">fav.museum</a>
          <a href="../#kar">fav.paintings</a>
          <a href="../">home</a></div>
</div>
</header>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="kartina"><img src="../static/img/msk/appo.jpg"></div>
<br><br><br>
<hr>
<br><br><br>

<div style='margin-left:150px; margin-right:150px;'>
<font size="1px" face='Courier' color="#666"><h1>Иванов Александр Андреевич</h1></font>
<font size="3px" face='Century gothic'><h1>Аполлон, Гиацинт и Кипарис, занимающиеся музыкой и пением</h1></font>
<font size="4px" face='Century gothic'>Неоконченная картина. Сюжет картины представляет собой вольную фантазию художника
    на тему нескольких древнегреческих мифов. Бог солнца, искусства, музыки и поэзии Аполлон вместе со своими любимцами
    музицирует на лоне природы. Иванов говорил, что хочет изобразить "наготу вместо натурного класса", иначе говоря,
    соединить классическую красоту с живым романтическим чувством. Он выполняет этюды с античных скульптур (например,
    с головы Аполлона Бельведерского или барельефа с изображением спящего Эндимиона), но старается одушевить образы,
    наполнив их теплом и светом. Художник стремится оживить природу античной гармонией и в то же время воссоздать в
    ней античность не как набор привычных форм, а как абсолютный идеал, золотой век, о наступлении которого он мечтал
    всю жизнь. Возникает идиллический мир, ясный и хрупкий, неслучайно жанр идиллии столь популярен в поэзии того
    времени. В 1828 А.А.Дельвиг пишет идиллию "Конец золотого века", а сам Иванов, объясняя, почему не завершил картину,
    говорил, что "утратил веселое расположение духа", поскольку не мог не чувствовать утопичность своих мечтаний</font>
</div>

<br><br><br><br><br><br>



</body>
</html>