<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Бабушкин сад</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <link rel="shortcut icon" href="../static/img/logo.png" type="image/x-icon">
</head>


<body>
<header>
    <br>
	<h1><center>w h i f f .</center></h1>
<div class="menu">
          <a href="../private_office/<user>">account</a>
          <a href="../#mapp">map</a>
          <a href="../#hud">fav.museum</a>
          <a href="../#kar">fav.paintings</a>
          <a href="../">home</a></div>
</div>
</header>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="kartina"><img src="../static/img/msk/bab.jpg"></div>
<br><br><br>
<hr>
<br><br><br>

<div style='margin-left:150px; margin-right:150px;'>
<font size="1px" face='Courier' color="#666"><h1>Поленов Василий Дмитриевич</h1></font>
<font size="3px" face='Century gothic'><h1>Бабушкин сад</h1></font>
<font size="4px" face='Century gothic'>Продолжая линию А.К.Саврасова, родоначальника русского лирического пейзажа,
    В.Д.Поленов придает этому жанру более камерный, личный характер. Он часто вводит в изображения природы не только
    архитектурные мотивы, но и сценки повседневной жизни, называя свои произведения "пейзажным бытовым жанром".
    На картине в окружении заросшего сада запечатлен реальный московский особняк: дом Н.Л.Баумгартена, расположенный
    на углу Трубниковского и Дурновского переулков. Изображение его обитательниц, пожилой женщины и девушки, придает
    настроению картины ностальгический характер, вносит оттенок литературности. Одновременно черты театральности в
    композиционном решении картины вызывают ассоциацию со сценическим воплощением произведений русской литературы от
    И.С.Тургенева до А.П.Чехова</font>
</div>

<br><br><br><br><br><br>



</body>
</html>