<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Третьяковская галерея</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <link rel="shortcut icon" href="../static/img/logo.png" type="image/x-icon">
</head>


<body>
<header>
    <br>
	<h1><center>w h i f f .</center></h1>
<div class="menu">
          <a href="../private_office/<user>">account</a>
          <a href="../#mapp">map</a>
          <a href="../#hud">fav.museum</a>
          <a href="../#kar">fav.paintings</a>
          <a href="../">home</a></div>
</div>
</header>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="musey"><img src="../static/img/tr.jpg"></div>
<br><br><br>
<hr>
<br><br><br>

<div style='margin-left:150px; margin-right:150px;'>
<font size="1px" face='Courier' color="#666"><h1>г.Москва, Лаврушинский переулок</h1></font>
<font size="3px" face='Century gothic'><h1>Третьяковская галерея</h1></font>
<font size="4px" face='Century gothic'>Государственная Третьяковская галерея – крупнейший музей русского искусства,
    имеющий мировую известность. Галерея названа по имени московского купца и промышленника Павла Михайловича
    Третьякова (1832–1898), коллекционировавшего с 1856 произведения современных ему художников, желая «собрать
    русскую школу как она есть в последовательном своем ходе».</font>
</div>


<br><br><br><br><br><br>

<a href="/t5"><img src="../static/img/msk/liz.jpg" width="20%"></a>
<a href="/t4"><img src="../static/img/msk/auto.jpg" width="20%"></a>
<a href="/t2"><img src="../static/img/msk/appo.jpg" width="20%"></a>
<a href="/t1"><img src="../static/img/msk/alen.jpg" width="20%"></a>
<a href="/t3"><img src="../static/img/msk/bab.jpg" width="20%"></a>



</body>
</html>